body {
    font-family: Helvetica, Helvetica Neue, Arial, Sans-serif;
    font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);    
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    color: darkslategrey;
}

h1 {
    font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

h2 {
    font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

h3 {
    font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
}

h4 {
    font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}

h5 {
    font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
}

h6 {
    font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
}

#main-container {
    display: grid;
}